@use "~/global/variables" as *;
@use "sass:map";

@media (min-width: map.get($breakpoints, sm)) {
  ._show-tablet {
    display: block !important;
  }

  ._show-mobile {
    display: none !important;
  }
}

@media (max-width: map.get($breakpoints, sm) - 1) {
  ._show-mobile {
    display: block !important;
  }

  ._show-tablet {
    display: none !important;
  }
}

._noScroll {
  overflow: hidden;
}

._visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

._tel-number {
  a {
    color: inherit !important;
  }
}
