# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Husky config file
.husky/.gitignore

/vendor/

# WordPress
/wordpress/plugins/*
/wordpress/uploads/*
/wordpress/themes/*/assets/*

# output by imagemin
/scripts/imagemin/imgDist/*
