{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-recess-order"],
  "ignoreFiles": ["dist/**/*"],
  "rules": {
    "selector-class-pattern": null,
    "declaration-block-no-redundant-longhand-properties": null
  }
}
